<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>local-software</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.evernote.Evernote</string>
			<key>CFBundleShortVersionString</key>
			<string>5.0.0</string>
			<key>adam-id</key>
			<string>406056744</string>
			<key>installed-version-identifier</key>
			<integer>11941246</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.kapeli.dash</string>
			<key>CFBundleShortVersionString</key>
			<string>1.7.3</string>
			<key>adam-id</key>
			<string>458034879</string>
			<key>installed-version-identifier</key>
			<integer>11832241</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>cn.dict.diandian</string>
			<key>CFBundleShortVersionString</key>
			<string>1.2.0</string>
			<key>adam-id</key>
			<string>455193835</string>
			<key>installed-version-identifier</key>
			<integer>5641567</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.alice.mac.go2shell</string>
			<key>CFBundleShortVersionString</key>
			<string>1.2.1</string>
			<key>adam-id</key>
			<string>445770608</string>
			<key>installed-version-identifier</key>
			<integer>3905924</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.greengar.whiteboardmac</string>
			<key>CFBundleShortVersionString</key>
			<string>1.1.1</string>
			<key>adam-id</key>
			<string>412312635</string>
			<key>installed-version-identifier</key>
			<integer>3359748</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.garageband</string>
			<key>CFBundleShortVersionString</key>
			<string>6.0.4</string>
			<key>adam-id</key>
			<string>408980954</string>
			<key>installed-version-identifier</key>
			<integer>3917360</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iMovieApp</string>
			<key>CFBundleShortVersionString</key>
			<string>9.0.4</string>
			<key>adam-id</key>
			<string>408981434</string>
			<key>installed-version-identifier</key>
			<integer>3919357</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.shpakovski.mac.codebox</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0</string>
			<key>adam-id</key>
			<string>412536790</string>
			<key>installed-version-identifier</key>
			<integer>3289383</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.fiplab.googleplustab</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0</string>
			<key>adam-id</key>
			<string>449711125</string>
			<key>installed-version-identifier</key>
			<integer>3924361</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.wunderkinder.wunderlistdesktop</string>
			<key>CFBundleShortVersionString</key>
			<string>1.2.4</string>
			<key>adam-id</key>
			<string>410628904</string>
			<key>installed-version-identifier</key>
			<integer>4090560</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.piso13.opusDominiLite</string>
			<key>CFBundleShortVersionString</key>
			<string>1.6.2</string>
			<key>adam-id</key>
			<string>428814327</string>
			<key>installed-version-identifier</key>
			<integer>3981999</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>it.bloop.memo</string>
			<key>CFBundleShortVersionString</key>
			<string>1.04</string>
			<key>adam-id</key>
			<string>454167841</string>
			<key>installed-version-identifier</key>
			<integer>5239007</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>it.bloop.socialweather</string>
			<key>CFBundleShortVersionString</key>
			<string>1.03</string>
			<key>adam-id</key>
			<string>460355935</string>
			<key>installed-version-identifier</key>
			<integer>5306166</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.dawnark.diskscanner</string>
			<key>CFBundleShortVersionString</key>
			<string>7.18.32</string>
			<key>adam-id</key>
			<string>483517638</string>
			<key>installed-version-identifier</key>
			<integer>5998765</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.configurator</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0</string>
			<key>adam-id</key>
			<string>434433123</string>
			<key>installed-version-identifier</key>
			<integer>3670623</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.producteev.Producteev</string>
			<key>CFBundleShortVersionString</key>
			<string>1.3.1</string>
			<key>adam-id</key>
			<string>450283360</string>
			<key>installed-version-identifier</key>
			<integer>7760933</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.randomideas.powercard.mac</string>
			<key>CFBundleShortVersionString</key>
			<string>3.3</string>
			<key>adam-id</key>
			<string>406809052</string>
			<key>installed-version-identifier</key>
			<integer>7078328</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.grasscove.fetcherapp</string>
			<key>CFBundleShortVersionString</key>
			<string>1.4</string>
			<key>adam-id</key>
			<string>440113616</string>
			<key>installed-version-identifier</key>
			<integer>6236587</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.operasoftware.Opera-Mobile-Emulator</string>
			<key>CFBundleShortVersionString</key>
			<string>12.0</string>
			<key>adam-id</key>
			<string>515290645</string>
			<key>installed-version-identifier</key>
			<integer>7330393</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.barebones.textwrangler</string>
			<key>CFBundleShortVersionString</key>
			<string>4.0.1</string>
			<key>adam-id</key>
			<string>404010395</string>
			<key>installed-version-identifier</key>
			<integer>7484449</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.torusknot.SourceTree</string>
			<key>CFBundleShortVersionString</key>
			<string>1.4.2</string>
			<key>adam-id</key>
			<string>411678673</string>
			<key>installed-version-identifier</key>
			<integer>7922840</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iBooksAuthor</string>
			<key>CFBundleShortVersionString</key>
			<string>1.1</string>
			<key>adam-id</key>
			<string>490152466</string>
			<key>installed-version-identifier</key>
			<integer>6846044</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mixtab.mac</string>
			<key>CFBundleShortVersionString</key>
			<string>1.45</string>
			<key>adam-id</key>
			<string>438373717</string>
			<key>installed-version-identifier</key>
			<integer>6741735</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>tv.pps.mac</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0.9</string>
			<key>adam-id</key>
			<string>497091398</string>
			<key>installed-version-identifier</key>
			<integer>7961435</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.taobao.aliwangwang</string>
			<key>CFBundleShortVersionString</key>
			<string>2.0.3</string>
			<key>adam-id</key>
			<string>489482712</string>
			<key>installed-version-identifier</key>
			<integer>6349782</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.Luminant.AudioNoteLiteMac</string>
			<key>CFBundleShortVersionString</key>
			<string>2.08.1</string>
			<key>adam-id</key>
			<string>413612650</string>
			<key>installed-version-identifier</key>
			<integer>7134467</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>it.bloop.pro.cappuccino</string>
			<key>CFBundleShortVersionString</key>
			<string>1.23</string>
			<key>adam-id</key>
			<string>492594411</string>
			<key>installed-version-identifier</key>
			<integer>6872809</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.fiplab.batteryhealth</string>
			<key>CFBundleShortVersionString</key>
			<string>2.3</string>
			<key>adam-id</key>
			<string>490192174</string>
			<key>installed-version-identifier</key>
			<integer>7941686</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.niltsh.MPlayerX</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0.14</string>
			<key>adam-id</key>
			<string>421131143</string>
			<key>installed-version-identifier</key>
			<integer>7651267</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.operasoftware.Opera</string>
			<key>CFBundleShortVersionString</key>
			<string>11.64</string>
			<key>adam-id</key>
			<string>404764921</string>
			<key>installed-version-identifier</key>
			<integer>7971655</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.ruiaureliano.Sip</string>
			<key>CFBundleShortVersionString</key>
			<string>1.1</string>
			<key>adam-id</key>
			<string>507257563</string>
			<key>installed-version-identifier</key>
			<integer>7131727</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.pptv.pptvmac</string>
			<key>CFBundleShortVersionString</key>
			<string>1.2</string>
			<key>adam-id</key>
			<string>492020078</string>
			<key>installed-version-identifier</key>
			<integer>7930465</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.skitch.skitch</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0.11</string>
			<key>adam-id</key>
			<string>425955336</string>
			<key>installed-version-identifier</key>
			<integer>8348693</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.nextmobile.weibo</string>
			<key>CFBundleShortVersionString</key>
			<string>2.12</string>
			<key>adam-id</key>
			<string>446706186</string>
			<key>installed-version-identifier</key>
			<integer>8306637</integer>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iPhoto</string>
			<key>CFBundleShortVersionString</key>
			<string>9.4</string>
			<key>adam-id</key>
			<string>408981381</string>
			<key>installed-version-identifier</key>
			<integer>10581307</integer>
		</dict>
	</array>
</dict>
</plist>
